body{
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
}

.Front{
  width: 50vh;
  height: 50vh;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%);
}

.Front_star{
  width: 50px;
  height: 50px;
  margin: 15px;
  border-radius: 50%;
  background-color: hsl(216, 12%, 54%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Front_text{
  color:hsl(0, 0%, 100%);
  margin: 25px;
}

.Front_text span{
  color:hsl(217, 12%, 63%);
  font-size: 15px;
}

.Front_numbers{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.number{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(216, 12%, 54%);
  /* opacity: 0.3; */
  color: hsl(217, 12%, 63%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Front_submit{
  margin: 15px;
}

.Front_submit input{
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  background-color: hsl(25, 97%, 53%);
  color:hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .2em;
}
